@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    transition: .45s;
}

body {
    background-image: url('./assets/images/background.png');
    background-size: cover;
}

footer {
    background-color: hotpink;
    margin-top: 10px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
}


.display {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    justify-content: center;
    

}

.contact-container div h2 {
    background-color: rgba(255, 105, 180, 0.593);
    margin: 10% auto 5%;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 13px;
    font-weight: 400;
}

.about-wrapper {
    display: flex;
    padding: 15px 2%;
}

div.img-cont {
    display: flex;
    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    
}

div.img-cont img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(55, 204, 224);
    overflow: hidden;
    transition: .5s;
}


#intro {
    padding: 10px 2%;
    font-size: larger;
    max-width: 700px;
}
#intro h2 {
    color: hotpink;
    font-family: 'Exo', sans-serif;
}

#intro h3 {
    font-weight: 400;
    font-family: 'Exo';
}

/* img.headshot-img {
    width: 200px;
    border-radius: 500px;
    border: 2px solid rgb(55, 204, 224);
    transition: .5s;
} */

div.info {
    padding: 20px 2%;
    max-width: 760px;
    margin: auto;
}

.info a {
    text-decoration: none;
    padding: 5px 0px;
    font-family: 'Exo';
    font-size: 15px;
    font-weight: bold;
    color: hotpink;
    transition: .5s;
}

.info p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.info h1 {
    font-family: 'Exo';
}
.info h2 {
    font-family: 'Exo';
}

.info h3 {
    font-family: 'Exo';
}

.info {
    font-family: 'Exo';
}

.info a:hover {
    color: rgb(184, 0, 153);
}

.portfolio-section {
    text-align: center;
}

.portfolio-section h1 {
    color: hotpink;
}

div.project-container {
    margin: 50px auto;
    max-width: 850px;
    padding-bottom: 80px;
}

.project-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

.project-div {
    padding: 10px 2%;
    margin: 10px;
}

.project-div img {
    max-width: 330px;
    border-radius: 15px;
    transition: .555s;
    display: flex;
    flex-direction: column;
}

.project-div img:hover {
    transform: scale(.95);
    box-shadow: rgba(255, 105, 180, 0.799) 2px 2px 10px 10px;
}

.project-div a {
    text-decoration: none;
    color: hotpink;
    font-size: large;
    transition: .2s;
}

.project-div a:hover {
    color: rgb(210, 105, 255)
}

.project-info {
    justify-content: center;
}

.icon-wrapper {
    display: flex;
    margin: 2% 5%;
}

.icon-wrapper i {
    color: hotpink;
    padding: 25px;
}

div.resume-container {
    text-align: center;
    justify-content: center;
    margin: 200px auto 50%;
}

.resume-container a {
    background-color: rgb(55, 204, 224);
    padding: 100px 10px;
    border-radius: 50%;
    text-decoration: none;
    color: hotpink;
    font-size: 28px;
    transition: .5s;
}

div.resume-container a:hover {
    transform: rotate(180deg);
}

@media screen and (max-width: 800px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon-wrapper {
        justify-content: center;
    }

    .about-container {
        justify-content: center;
        margin: auto;
    }
    .about-wrapper {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    div.img-cont {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    img.headshot-img {
        width: 150px;
        height: 150px;
    }

    .project-div img {
        width: 320px;
    }

}

@media screen and (min-width: 801px) {
    div.img-cont {
        width: 100%;
    }
    img.headshot-img {
       min-width: 200px;
       max-width: 200px;
    }

    .img-cont {
        display: flex;
    }

    .icon-wrapper {
        justify-content: center;
    }
}